
implication-axioms.ipynb
implication-axioms copy 2.ipynb
implication-axioms copy.ipynb
implication-axioms with conditional copy.ipynb
implication-axioms with conditional.ipynb
implication-axioms.ipynb
negation-axioms copy.ipynb
implication-axioms.ipynb
implication-axioms.ipynb
proof-search copy.ipynb
relational-frames-readfile.ipynb
relational-frames2.ipynb
implication-axioms.ipynb
implication-axioms-removed.ipynb
